/* Welcome CSS */
.welcome {
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }
  .welcome h1 {
    font-weight: 700;
    font-size: clamp(1.75rem, 1.295rem + 2.27vw, 3rem); /* 28px - 48px */
    margin-bottom: 5vh;
  }
  
  .welcome p {
    font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem); /* 12px - 18px */
    max-width: 60%;
  }